html {
  height: 100%;
  font-size: 16px;
}

body{
  height:100%;
  background-image: url("img/light-bg1.png");
  color: black;
  text-align: center;
  font-family: "Ubuntu" , sans-serif;
}

.number{
  font-size: 2em;
  display:block;
  margin: 0 auto 1em;
}
.btn{
  font-size: inherit;
  color:white;
  background-color: purple;
  text-decoration:none;
  padding: 1em 2em 1em;
  margin-bottom:1.5em;
  display:inline-block;

}
h1{

}


.trophy{
  height:10em;
}
.title{
  font-size: 5em;
}